%main.container
  .row
    .col-md-5.mb-40
      .text-center
        %h3.general-subtitle Returning Customer
        %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
          %i.fa.fa-facebook-official

        %p.general-login-text= t('auth.or')

      .general-form
        = form_with scope: :user, url: session_path(:user) do |f|
          .form-group.mb-30
            = f.label :user_email, t('auth.enter_email'), class: 'control-label input-label'
            = f.email_field(:email,
                            autofocus: true,
                            autocomplete: 'email',
                            class: 'form-control',
                            required: true,
                            placeholder: t('auth.enter_email'))
          .form-group.mb-30
            = f.label :user_password, t('auth.password'), class: 'control-label input-label'
            = f.password_field(:password,
                            autocomplete: 'new password',
                            class: 'form-control',
                            required: true,
                            placeholder: t('auth.password'))

            = link_to t('auth.forgot_password'), new_user_password_path, class: 'help-block in-gold-500'

          .text-center
            = f.submit t('default.login'), class: 'btn btn-default mb-20'

    .col-md-5.col-md-offset-1.mb-60
      .text-center
        %h3.general-subtitle New Customer
        %a.general-login-icon{href: user_facebook_omniauth_authorize_path}
          %i.fa.fa-facebook-official
        %p.general-login-text or

      = form_with scope: :user, url: fast_registration_path, method: :post do |f|  
        .general-form
          .mb-40
            %p.mb-5 Quik Register
            %p.general-info-text.font-12.mb-20 You’ll be able to create password later
            .form-group.mb-30
              = f.label :user_email, t('auth.enter_email'), class: 'control-label input-label'
              = f.email_field(:email,
                            autofocus: true,
                            autocomplete: 'email',
                            class: 'form-control',
                            required: true,
                            placeholder: t('auth.enter_email'))
          = f.submit 'Continue to Checkout', class: 'btn btn-default mb-20'
