%main.container
  = render partial: 'carousel'

.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('home.greeting')
    .mb-res-50
      %p= t('home.greeting_description')
    = link_to t('home.get_started'), books_path, class: 'button btn btn-default'

  .mb-35#bestsellers
    = render partial: 'bestsellers'
