%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('order.my_orders')
  .dropdowns.dropdown.general-order-dropdown
    %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
      = @show_status
      %i.fa.fa-angle-down.dropdown-icon.pull-right
    %ul.dropdown-menu
      - t('order.statuses').each do |key, value|
        %li
          = link_to value, orders_path(status: key)

  .hidden-xs.mb-res-50
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('order.number')
          %th
            %span.in-grey-600= t('order.completed_at')
          %th
            %span.in-grey-600= t('order.status')
          %th
            %span.in-grey-600= t('order.total')
      %tbody
        - @orders.each do |order|
          %tr
            %td
              %span= link_to order.number, order_path(order), class: 'general-order-number'
            %td
              %span.in-grey-900.font-16.fw-300= order.completed_at
            %td
              %span.font-16.in-grey-900.fw-300= order.show_status
            %td
              %strong.font-16= number_to_currency(order.total_price)
